.gradient-text{
    background: linear-gradient(to right, #ff2600 0%, #e1cb0b 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.filter::after{
    content: '';
    position: absolute;
    height: 100%;
    z-index: 20;
    width: 100%;
    background: rgba(0, 0, 0, 0.676); 
}
.devfolio{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.vid{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.timer{
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    width: calc(100% - 2em);
    /* border: 2px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.timer p{
    font-size:3rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 10px;
}
.gradient-text2{
    background: linear-gradient(to right, #ffb1f8 0%, #3000f1 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.timer-title{
    color: #f39c12;
}